@charset "utf-8";

html, body{
min-height: 100vh;
background-color:darkgrey;
font-family: var(--font1);
}

:root{
    --font1: verdana, geneva, tahoma, sans-serif;
    --font2:'Passion One', cursiva;
    --font3:'Sriracha', cursiva;
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

header{
    background-color: black;
    text-align: center;
    color: white;
   
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 7vw;
}

header > p{
    padding-bottom: 50px;
    
}

a{
    color: white;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom:10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--font3);
    font-size: 2.7vw;
}


section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(49, 48, 48);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.237);
    background-attachment: fixed;
}

section.imagem p{
background-color: rgba(0, 0, 0, 0.551);
display: inline-block;
padding: 10px;
text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.236);
}

section#img01{
background-image: url('../imagens/background001.jpg');
background-position: center right;
background-size: cover;
}

section#img02{
    background-image: url('../imagens/background002.jpg');
    background-size: cover;
}

section > p{
    padding-bottom: 2em;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    
}